@use 'base/media-queries' as mq;
@use 'components/pages';

$grid-columns: 5;
$empty-image-width: 200px;

:host {
  @include pages.read-page;
  
  [aria-selected="true"] {
    background-color: var(--primitive-bright-blue);
  }

  text-align: center;
  

  .pokemon-collection__grid {

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-r-xl);
    border: thick solid var(--secondary-contrast);
    width: 120%;
    

    @include mq.for-tablet-up {
      grid-template-columns: repeat($grid-columns, 1fr);
    }
  }

  .pagination-info {
    display: flex;
    flex-flow: row;
    width:30%;
    justify-self: center;
    gap:2rem;
  }

  .pagination-info__page-input {
    width: 4rem;
  }
}
