<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<main>
  <h1 class="first-heading__title" i18n>Bulk catch pokemon</h1>
  <input title="Filter" [formControl]="nameFilter" />
  <select aria-label="Sort By" defaultValue="Order" [formControl]="selectedSortOption">
    @for (option of sortOptions; track option) {
      <option [value]="option">{{option}}</option>
    }
  </select>
  <button type="button" aria-label="Sort Order" (click)="toggleSortOrder()">
    @if (isSortedDescending()) {
      <span i18n>Descending</span>
    } @else {
      <span i18n>Ascending</span>
    }
  </button>
  <button #catch type="button" i18n (click)="catchPokemon()">Catch!</button>
  <ul #pokemonCollectionElement i18n class="pokemon-collection__grid" title="Pokemon Cards">
    @for (pokemon of pokemonCollection(); track pokemon.id; let index = $index) {
      <app-pokemon-card
        tabindex="0"
        class="pokemon-collection__card"
        [imgDraggable]="false"
        [pokemon]="pokemon"
        [ariaSelected]="isSelected(index)"
        [title]="pokemon.name"
        (click)="onPokemonClicked({index,event:$event})"
        (keydown)="onPokemonClicked({index,event:$event})"
      />
    }
  </ul>
  <div class="pagination-info">
    <input
      class="pagination-info__page-input"
      title="Current Page"
      [formControl]="pageNumber"
      (keyup.enter)="onPageNumberEnter()"
    />
    <p i18n>of</p>
    <p>{{pageCount$ | async}}</p>
  </div>
</main>
