<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<main>
  <h1 class="first-heading__title" i18n>Bulk catch pokemon</h1>

  <section class="controls__container" aria-label="Controls">
    <input placeholder="Filter" title="Filter" [formControl]="nameFilter" />

    <div class="controls__container-row">
      <select aria-label="Sort By" [formControl]="selectedSortOption">
        @for (option of sortOptions; track option) {
          <option [value]="option">{{option}}</option>
        }
      </select>
      <button
        type="button"
        title="Sort Order"
        [value]="isSortedDescending()"
        (click)="toggleSortOrder()"
      >
        <fa-icon class="icon__button" [icon]="sortDirectionArrow()" />
      </button>
    </div>
    <button #catch type="button" i18n (click)="catchPokemon()">Catch!</button>
  </section>
  <ul #pokemonCollectionElement i18n class="pokemon-collection__grid" title="Pokemon Cards">
    @for (pokemon of pokemonCollection(); track pokemon.id; let index = $index) {
      <app-pokemon-card
        tabindex="0"
        class="pokemon-collection__card"
        role="listitem"
        [imgDraggable]="false"
        [pokemon]="pokemon"
        [ariaSelected]="isSelected(index)"
        [selected]="isSelected(index)"
        [title]="pokemon.name"
        (click)="onPokemonClicked({index,event:$event})"
        (keydown)="onPokemonClicked({index,event:$event})"
      />
    }
  </ul>

  <app-pagination
    [previousDisabled]="(previousDisabled$ | async) ?? false"
    [nextDisabled]="(nextDisabled$ | async) ?? false"
    [control]="pageNumber"
    [totalPages]="(totalPages$ | async) ?? 1"
    (onEnter)="onPageNumberEnter()"
    (next)="next()"
    (previous)="previous()"
    (inputBlur)="onCardBlur()"
  />
</main>
