@use 'base/media-queries' as mq;
@use 'components/pages';

$grid-columns: 5;
$empty-image-width: 200px;

:host {
  @include pages.read-page;

  [aria-selected='true'] {
    background-color: var(--primitive-bright-blue);
  }

  text-align: center;

  .pokemon-collection__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-r-xl);
    border: thick solid var(--secondary-contrast);
    width: 120%;

    @include mq.for-tablet-up {
      grid-template-columns: repeat($grid-columns, 1fr);
    }
  }

  .pokemon-collection__card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .controls__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
    align-items: center;
  }

  .controls__container-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    justify-items: center;
    align-items: center;
  }
}
