@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

:host {
  .card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-r-3xl);
    overflow: hidden;
    color: var(--primary-contrast);
    border: 1px solid var(--senary-contrast);
    border-radius: var(--border-radius-sm);
    animation: fadeIn 0.3s ease-in forwards;
    transition:
      border-color 0.3s ease,
      background 0.3s ease,
      transform 0.3s ease;

    &:hover {
      .card__link {
        background-position: 0 0;
      }
      background: var(--card-background-hover);
      transform: scale(1.1);
    }

    &[aria-selected='true'] {
      background: var(--card-background-selected);
      &:hover {
        background: var(--card-background-selected-hover);
      }
    }

    * + *:not(a, code, span),
    .card__heading {
      margin-block-end: var(--spacing-r-3xl);
    }

    .card__link {
      position: relative;
      margin-block: 0;
      font-size: var(--font-size-sm);
      color: transparent;
      background: var(--card-link-background-hover);
      background-position: 100% 0;
      background-clip: text;
      background-size: 200% 100%;
      transition: background-position 2s ease-out;
    }
  }
}
