<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<main>
  <h1 class="first-heading__title" i18n>Bulk catch pokemon</h1>
  <input [formControl]="nameFilter" />
  <button type="button" i18n (click)="catchPokemon()">Catch!</button>
  <ul i18n class="my-pokemon__grid">
    @for (pokemon of pokemonCollection(); track pokemon.id) {
      @if (pokemon.isSelected) {
        <div class="isSelected">
          <app-pokemon-card [pokemon]="pokemon" (click)="onPokemonClicked(pokemon)" />
        </div>
      } @else {
        <li>
          <app-pokemon-card [pokemon]="pokemon" (click)="onPokemonClicked(pokemon)" />
        </li>
      }
    }
  </ul>
  <input [formControl]="pageNumber" (keyup.enter)="onPageNumberEnter()" />
</main>
